*{
    margin: 0;
    padding: 0;
}

nav{
    height: 100px;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    display: block;
}